simplified_ui true
default_shell "zsh"
pane_frames false
theme "one-half-dark"
mouse_mode true
copy_command "xclip -selection clipboard"
copy_clipboard "primary"
copy_on_select true
default_mode "locked"
