[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:phuoc101/nvim-config.git
[submodule ".zsh/conda-zsh-completion"]
	path = .zsh/conda-zsh-completion
	url = https://github.com/conda-incubator/conda-zsh-completion.git
