[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:phuoc101/kickstart.nvim.git
[submodule ".zshrc.d/conda-zsh-completion"]
	path = .zshrc.d/conda-zsh-completion
	url = https://github.com/conda-incubator/conda-zsh-completion.git
[submodule ".zshrc.d/zsh-syntax-highlighting"]
	path = .zshrc.d/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zshrc.d/zsh-z"]
	path = .zshrc.d/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule ".zshrc.d/zsh-autosuggestions"]
	path = .zshrc.d/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".zshrc.d/powerlevel10k"]
	path = .zshrc.d/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zshrc.d/zsh-lazyload"]
	path = .zshrc.d/zsh-lazyload
	url = https://github.com/qoomon/zsh-lazyload
