[Desktop Entry]
Name=Shotcut
Comment=Open-source cross-platform video editing software
Keywords=video;editor
TryExec=shotcut
Exec=shotcut
StartupNotify=true
Terminal=false
Type=Application
Icon=shotcut
Categories=AudioVideo;Editor;
