[Desktop Entry]
Name=Shotcut
Comment=A free, open source, cross-platform video editor
Keywords=video;editor;
TryExec=shotcut
Exec=shotcut
StartupNotify=true
Terminal=false
Type=Application
Icon=shotcut
Categories=Application;Video;
